html, body {
    background-color: black;
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px; /* -0.5*width */
    margin-top: -50px; /* -0.5*height */
    box-shadow: 0 0 1em 1em yellow;
}

.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px; /* -0.5*width */
    margin-top: -25px; /* -0.5*height */
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    border: 2px dotted white;
    border-radius: 50%;
}

#sun {
}

#mercury-orbit {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-animation: spin-right linear infinite;
    -webkit-animation-duration: 2s;
    animation: spin-right 2s linear infinite;
}
#mercury {
    background-color: brown;
    width: 10px;
    height: 10px;
    margin-top: -105px;
    margin-left: -5px;
}

#earth-orbit {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}
#earth {
    background-color: blue;
    margin-top: -225px;
    margin-left: -50px;
}
@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}