html, body {
    background-color: black;
}

h1, h2 {
    text-align: center;
    color: white;
}

b {
    text-align: left;
}

footer {
    color: lightgrey;
    font-family: Open Sans, sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.6em;
}

input[type="number"] {
    width: 100px;
    margin: 5px;
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px; /* -0.5*width */
    margin-top: -10px; /* -0.5*height */
    box-shadow: 0px 0px 1em yellow;
}

.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px; /* -0.5*width */
    margin-top: -25px; /* -0.5*height */
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px;
    border: 1px dotted white;
    border-radius: 50%;
    -webkit-animation: spin-right 2s linear infinite;
    animation: spin-right 2s linear infinite;
}

.planet-options {
    clear: left;
    color: black;
    font-family: Open Sans, sans-serif;
    text-align: right;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

#controls-box {
    color: white;
    font-family: Open Sans, sans-serif;
    font-size: 0.7em;
    text-align: center;
    background-color: darkslategrey;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    float: left;
    margin: 5px;
    width: 300px;
    padding: 5px;
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}