<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% if site.twitter_username %}
      <a class="site-title" href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter site-title-icon"></i>
      </a>
    {% endif %}
    {% if site.github_username %}
      <a class="site-title" href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github site-title-icon"></i>
      </a>
    {% endif %}
    {% if site.facebook_username %}
      <a class="site-title" href="https://facebook.com/{{ site.facebook_username }}">
        <i class="fa fa-facebook site-title-icon"></i>
      </a>
    {% endif %}
    {% if site.youtube_channelname %}
      <a class="site-title" href="https://youtube.com/{{ site.youtube_channelname }}">
        <i class="fa fa-youtube site-title-icon"></i>
      </a>
    {% endif %}

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
